{% set id = inventory_hostname | regex_search('[0-9]+') | int %}
switchport default mode routed
!
hostname {{ inventory_hostname | upper }}
!
{% for interface in core_interfaces -%}
interface {{ interface }}
   mtu 9000
   no switchport
   ip address unnumbered Loopback0
   isis enable ISIS
   isis network point-to-point
!
{% endfor -%}
interface Loopback0
   ip address 198.18.255.{{ id }}/32
   isis enable ISIS
   isis passive
!
ip routing
!
router bgp {{ asn }}
   router-id  198.18.255.{{ id }}
   no bgp default ipv4-unicast
   neighbor UNDERLAY peer group
   neighbor UNDERLAY remote-as {{ asn }}
   neighbor UNDERLAY update-source 198.18.255.{{ id }}
   neighbor UNDERLAY send-community extended
   {% for item in groups['rr'] -%}
   neighbor 198.18.255.{{ item | regex_search('[0-9]+') }} peer group UNDERLAY
   {% endfor -%}
   !
   address-family evpn
      neighbor UNDERLAY activate
   !
!
router isis ISIS
   net 49.0002.0000.0000.{{ '%04d' | format(id) }}.00
   is-type level-2
   !
   address-family ipv4 unicast
      bfd all-interfaces
   !
!
